.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --projects-list-gap: 30px;
}

body {
  background-color: var(--white-color);
  color: var(--primary-text-color);
  font-family: 'Roboto';
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.hero .hero-btn {
  min-width: 200px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: var(--accent-color);
  color: var(--white-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  cursor: pointer;
  padding: 10px 32px;
  display: block;
  margin: 0 auto;
}

.parts-list .portfolio-btn {
  border-radius: 4px;
  background-color: #f5f4fa;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  cursor: pointer;
  padding: 6px 22px;
  border: 0;
}

.button {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover, .button:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
}

.header {
  display: flex;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}

.header .container {
  display: flex;
  align-items: center;
}

.header .logo {
  margin-right: 93px;
  color: #000000;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.header .addres-list {
  display: flex;
  margin-left: auto;
}

.header .addres-list-item:not(:last-child) {
  margin-right: 50px;
}

.site-nav {
  display: flex;
  align-items: center;
}

.site-nav .current {
  color: var(--accent-color);
}

.site-nav a {
  position: relative;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav-list {
  display: flex;
}

.site-nav-link:not(:last-child) {
  margin-right: 50px;
}

.logo > span {
  color: var(--accent-color);
}

.menu-link {
  padding: 32px 0;
}

.menu-link:hover, .menu-link:focus {
  color: var(--accent-color);
}

.current.menu-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.addres-list a {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  display: inline-flex;
  align-items: center;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-icon {
  display: inline-block;
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mail:hover,
.mail:focus,
.tel:hover,
.tel:focus {
  outline: none;
  fill: var(--accent-color);
  color: var(--accent-color);
}

.hero {
  max-width: 1600px;
  min-height: 600px;
  padding: 200px 0;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/bg-img-hero.jpg");
  background-color: #000000;
  background-repeat: no-repeat;
  background-position: center;
}

.hero h1 {
  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
}

.feature-section {
  padding: 94px 0;
}

.feature-section-top {
  padding-top: 94px;
}

.feature {
  width: 270px;
  min-height: 16px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.feature-text {
  width: 270px;
  min-height: 75px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-top: 10px;
}

.feature-list {
  display: flex;
}

.feature-list-item:not(:last-child) {
  margin-right: 30px;
}

.feature-list-item::before {
  display: block;
  content: '';
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  background-position: center;
  background-repeat: no-repeat;
}

.feature-list-item.icon-antena::before {
  background-image: url(../images/antenna.svg);
  background-size: 70px;
}

.feature-list-item.icon-clock::before {
  background-image: url(../images/clock.svg);
  background-size: 70px;
}

.feature-list-item.icon-diagram::before {
  background-image: url(../images/diagram.svg);
  background-size: 70px;
}

.feature-list-item.icon-astronaut::before {
  background-image: url(../images/astronaut.svg);
  background-size: 70px;
}

.what-we-do {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  margin-bottom: 50px;
  min-width: 376px;
  text-align: center;
}

.img-box {
  display: flex;
  justify-content: space-between;
}

.card .social-list {
  padding: 0 32px;
  display: flex;
  justify-content: space-between;
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover, .social-list-link:focus {
  background-color: var(--accent-color);
}

.social-list-link:hover .social-link-icon, .social-list-link:focus .social-link-icon {
  fill: var(--white-color);
}

.social-link-icon {
  fill: #afb1b8;
  width: 20px;
  height: 20px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-icon:not(:last-child) {
  margin-right: 10px;
}

.our-team {
  padding: 94px 0;
  background-color: #f5f4fa;
}

.our-team-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.our-team-list {
  display: flex;
}

.member-name {
  margin-top: 30px;
  text-align: center;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.member-job {
  margin-top: 10px;
  margin-bottom: 16px;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
}

.list-item:not(:last-child) {
  margin-right: 30px;
}

.card {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 30px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.direction {
  color: var(--white-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.footer {
  background-color: #2f303a;
  padding: 60px 0;
}

.footer .logo {
  color: var(--white-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.footer .addres-list {
  margin-top: 20px;
  width: 231px;
}

.addres-list li:not(:last-child) {
  margin-bottom: 9px;
}

.footer-form {
  display: flex;
  margin-left: 93px;
}

.footer-form-slogan {
  display: block;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--white-color);
}

.footer-form-email {
  width: 358px;
  height: 50px;
  display: block;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2f303a;
}

.subscribe-btn {
  width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-left: 12px;
  margin-top: 37px;
  color: var(--white-color);
  cursor: pointer;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-send {
  margin-left: 10px;
}

.join-us {
  display: block;
  font-weight: 700;
  color: var(--white-color);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer > .container {
  display: flex;
}

.left-side {
  margin-right: 70px;
}

.right-side {
  margin-top: 12px;
}

.social-list.bottom {
  display: flex;
  justify-content: space-between;
}

.social-list-link.bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
}

.social-list-link.bottom:hover, .social-list-link.bottom:focus {
  background-color: var(--accent-color);
}

.social-list-link.bottom:hover .social-link-icon, .social-list-link.bottom:focus .social-link-icon {
  fill: var(--white-color);
}

.social-list-item.bottom:not(:last-child) {
  margin-right: 10px;
}

.social-link-icon.bottom {
  fill: var(--white-color);
  width: 20px;
  height: 20px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-icon:not(:last-child) {
  margin-right: 10px;
}

.our-clients {
  padding: 94px 0;
}

.our-client-icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-clients-title {
  text-align: center;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  margin-bottom: 50px;
}

.our-clients-item:not(:last-child) {
  margin-right: 30px;
}

.our-clients-list {
  display: flex;
}

.our-clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-clients-link:hover, .our-clients-link:focus {
  border: 1px solid var(--accent-color);
  outline: none;
}

.our-clients-link:hover .our-client-icon, .our-clients-link:focus .our-client-icon {
  fill: var(--accent-color);
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden {
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 0;
}

.modal {
  width: 528px;
  min-height: 581px;
  position: absolute;
  padding: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: var(--white-color);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 6px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  outline: none;
  background-color: var(--white-color);
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover, .close-btn:focus {
  fill: var(--accent-color);
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-input:focus + .modal-form-icon {
  fill: var(--accent-color);
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input-wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
}

.modal-form-slogan {
  color: var(--title-text-color);
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}

.modal-form-field {
  margin-bottom: 10px;
}

.modal-form-message {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  margin-top: 4px;
  resize: none;
}

.modal-form-message:focus {
  outline: none;
  border-color: var(--accent-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-policy-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 30px;
}

.modal-form-policy-text::before {
  content: '';
  display: inline-block;
  margin-right: 8.38px;
  width: 16px;
  height: 15px;
  border: 1px solid #000000;
  border-radius: 2px;
}

.modal-form-policy:checked + .modal-form-policy-text::before {
  border: none;
  background-image: url("../images/modal-icon-check.png");
}

.modal-form-btn {
  width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  color: var(--white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  border: 0;
}

.portfolio {
  padding: 94px 0;
}

.portfolio-title {
  display: none;
}

.name-project {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}

.type-project {
  margin-top: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  color: var(--primary-text-color);
}

.parts-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.parts-item:not(:last-child) {
  margin-right: 8px;
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--projects-list-gap));
  margin-left: calc(-1 * var(--projects-list-gap));
}

.projects-list > .project-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-top: var(--projects-list-gap);
  margin-left: var(--projects-list-gap);
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.project-card-link {
  display: inline-block;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.project-card-link:hover, .project-card-link:focus {
  outline: none;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-content {
  padding: 20px 24px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.project-card-img-wrapper {
  position: relative;
  overflow: hidden;
}

.overlay {
  background-color: rgba(33, 150, 243, 0.9);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--white-color);
  padding: 63px 24px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);
}

.project-card-link {
  text-decoration: none;
}

.project-card-link:hover .overlay, .project-card-link:focus .overlay {
  transform: translateY(0%);
  outline: none;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.img-wrapper {
  position: relative;
}

.img-box-text {
  position: absolute;
  width: 100%;
  padding: 24px;
  bottom: 0%;
  left: 0%;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--white-color);
  text-align: center;
}
/*# sourceMappingURL=main.css.map */